
    body {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      margin: 0;
      padding: 35px;
    }

    h1 {
      text-align: center;
        }

    form {
      display: flex;
      flex-direction: column;
    }

    label {
      margin-top: 35px;
    }

    input, select, textarea {
      padding: 10px;
      margin-top: 5px;
        }

    button {
      margin-top: 25px;
      padding: 12px;
      background-color: #00478d;
      color: white;
      border-radius: 6px;
    }

